body{
    background-color: rgb(240, 255, 248);
}
.container{
    border:5px solid black;
    border-radius:10px;
    height: 620px;
    width: 500px;
    display:block;
    margin: auto;
    margin-top: 4%;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(237, 212, 192);
    box-shadow: 10px 10px 10px;
}

h3{
   text-align: center;
   border-bottom:2px solid black;
   padding-bottom: 30px;
}

input{
    border:2px solid black;
    width: 200px;
    height:50px;
    margin-bottom: 30px;
}

.name{
    margin-left: 50px;
}

#profile-name{
    margin-top: 10px;
    margin-left: 80px;
    padding-right: 20px;
    font-size: 20px;
    border:none;
    background-color:rgb(237, 212, 192);
}

#profile-email{
    margin-left: 80px;
    padding-right: 20px;
    font-size: 20px;
    border:none;
    background-color:rgb(237, 212, 192);
}

#profile-password{
    margin-left: 40px;
    padding-right: 20px;
    font-size: 20px;
    border:none;
    background-color:rgb(237, 212, 192);
}

#profile-role{
    margin-left: 95px;
    padding-right: 20px;
    font-size: 20px;
    border:none;
    background-color:rgb(237, 212, 192);
    color: rgb(4, 108, 74);
}

#profile-status{
    margin-left: 80px;
    padding-right: 20px;
    font-size: 20px;
    border:none;
    background-color:rgb(237, 212, 192);
}
